{% extends "base.html" %}

{% block content %}
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.description.label(class="control-label") }}
            {{ form.description(class="form-control") }}
        </div>
        {{ render_errors(form.description) }}
        <div class="form-group">
            {{ form.price.label(class="control-label") }}
            {{ form.price(class="form-control") }}
        </div>
        {{ render_errors(form.price) }}
        <div class="form-group">
            {{ form.participant.label(class="control-label") }}
            {{ form.participant(class="form-control") }}
        </div>
        {{ render_errors(form.participant) }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <table class="table table-hover table-bar">
        <thead>
            <tr>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-1">Price</th>
                <th class="col-sm-3">Product description</th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{purchase.participant.name}}</td>
                <td>{{format_price(purchase.price/100)}}</td>
                <td>{{purchase.description}}</td>
                <td></td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
