{% macro render_errors(field, class='dialog') -%}
    {% if field.errors %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh dear!</strong> {{ error }}
        </div>
        {% endfor %}
    {% endif %}
{%- endmacro %}


<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>BAR{{ ' – 'if self.title() }}{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cdl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
    {% endblock %}
{% endblock %}
</head>
<body id="{% block page_id %}{% endblock %}">
    <nav class="navbar navbar-cover">
    {% block header%}
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed navicon-button" href="#navbar-main-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="navbar-main-collapse"><span class="navicon navicon-white"></span></button>
                <a href="//www.svcover.nl/" class="navbar-logo"><img src="{{ url_for('static', filename='img/cover.png') }}"></a>
                <a href="{{ url_for('view_home') }}" class="navbar-brand">BAR: {{ current_user.name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-right">
                    <li><a href="{{ url_for('faq') }}" data-type="faq">FAQ</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('view_home') }}">Home</a></li>
                            <li><a href="{{ url_for('auction.list_auction') }}">Auction</a></li>
                            <li class="divider"></li>
                            <!-- <li class="dropdown-header">Admin</li> -->
                            <li><a href="{{ url_for('list_products') }}">Products</a></li>
                            <li><a href="{{ url_for('list_participants') }}">Participants</a></li>
                            <li><a href="{{ url_for('activity_settings') }}">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('logout') }}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
    </nav>
    
    {% block messages %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible alert-flash" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}

    {% block content %}
    {% endblock %}
{% block scripts%}
    <div class="modal fade" id="barModal" tabindex="-1" role="dialog" aria-labelledby="barModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="barModalLabel"></h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-table"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bar.js') }}"></script>
{% endblock %}
</body>
</html>
