{% extends "base.html" %}

{% block page_id %}faq{% endblock %}

{% block content %}
<div class="container-narrow">
	<h1>{% block title %}Frequently Asked Questions{% endblock %}</h1>
	<p style="color:red;"><strong>Please do <em>not</em> provide any alcohol to anybody wearing a white wristband or a red wristband with a damaged fastener. Do also <em>not</em> provide any alcohol to someone who does not use their own name.</strong></p>
	<hr>
	<p><strong>What is BAR?</strong><br>
	BAR (Beverage Administration Register) is an on credit purchase system created by Martijn Luinstra for the Introductory Camp of 2013. It has been radically modified (read: completely rewritten) for the camp of 2014.</p>

	<p><strong>It says <em>[Name] is too young to buy this product.</em> What should I do?</strong><br>
	As long as the person wears an undamaged red wristband and provides their own name, you are allowed to provide them alcohol. Please report any incorrectly registered birth dates to the IntroCie.</p>

	<p><strong>The person wears a white wristband, but BAR does not warn me. What should I do?</strong><br>
	Do not provide any alcohol, you idiot! You should <em>always</em> check the wristband. The system only provides an extra check.</p>

	<p><strong>I think I broke it, what should I do?</strong><br>
	Don't panic and follow these easy steps:<br>
	<strong>1.</strong> Create backup system: grap a piece of paper and write down the name of the client and their purchases. (Please note that all products are individually priced, so don't just count credits.)<br>
	<strong>2.</strong> Contact Martijn (+31 (0)6 81040211) and let him fix the problem.</p>
</div>
{% endblock %}
