{% extends "base.html" %}

{% block page_id %}faq{% endblock %}

{% block content %}
<div class="container-narrow" id="panel-content">
    <h1 id="panel-title">{% block title %}Frequently Asked Questions{% endblock %}</h1>
    <div id="panel-content">
        {% if current_user.faq %}
            {{ current_user.faq|markdown }}
            <hr>
        {% endif %}
        <h3>What is BAR?</h3>
        BAR (Beverage &amp; Auction Register) is an on-credit purchase system created by Martijn Luinstra for the Introductory Camp of 2013. It has been radically modified (completely rewritten) for the camp of 2014 and updated for later occations.</p>

        <h3>I think I broke it, what should I do?</h3>
        Don't panic and follow these easy steps:
        <ol>
            <li>
                Create backup system: grap a piece of paper and write down the name of the client and their purchases.
            </li>
            <li>
                Contact anyone in charge (or Martijn, +31 (0)6 81040211) and let them fix the problem.
            </li>
        </ol>
    </div>
</div>
{% endblock %}
