{% extends "base.html" %}

{% block title %}Import{% endblock %}
{% block page_id %}import-select{% endblock %}


{% block content %}
    <form id="import-form" method="post" action="{{ url_for('import_participants')}}" novalidate>
        {{ super() }}
    </form>
{% endblock %}

{% block panel_body %}
    <p>Select in wich column in the file contains the values can be found. Participants who are already in the database will be overwritten and added to the activity. Be sure to uncheck them if you don't want this!</p> 
    <p><button type="submit" class="btn btn-primary">Import participants</button></p>
{% endblock %}


{% block panel_table %}
    <table id="import-table" class="table table-hover">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Name</th>
                <th>Address</th>
                <th>Place of residence</th>
                <th>Email</th>
                <th>IBAN</th>
                <th>BIC (Optional)</th>
                <th>Birthday (Optional)</th>
            </tr>
            <tr>
                <td></td>
                <td><select name="name"></select></td>
                <td><select name="address"></select></td>
                <td><select name="city"></select></td>
                <td><select name="email"></select></td>
                <td><select name="iban"></select></td>
                <td><select name="bic"></select></td>
                <td><select name="birthday"></select></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="import" checked="checked"></td>
                <td><input type="text" name="name" maxlength="255"></td>
                <td><input type="text" name="address" maxlength="255"></td>
                <td><input type="text" name="city" maxlength="255"></td>
                <td><input type="email" name="email" maxlength="255"></td>
                <td><input type="text" name="iban" maxlength="34"></td>
                <td><input type="text" name="bic" maxlength="11"></td>
                <td><input type="text" name="birthday" maxlength="10"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
    window.import_data = {{ json_data|safe }};

    window.urls = {
                'list_participants': '{{ url_for("list_participants") }}'
            };
    </script>
    <script src="{{ url_for('static', filename='js/import.js') }}"></script>
{% endblock%}
