{% extends "base.html" %}

{# TODO: Remove this horrible, ugly hack :( #}
{% block page_id %}view-users" data-trade-credits="{{current_user.trade_credits|lower}}{% endblock %}

{% block content %}
<div class="container-fluid">
    <form class="form-search" role="search">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" id="search" type="text" placeholder="Search..." autocomplete="off">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            </div>
        </div>
    </form>
    <table class="table table-hover table-bar table-users">
        <thead>
            <tr>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-1">Spent amount</th>
                <th class="col-sm-3"></th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr id="{{ participant.id }}" data-spend-amount="{{participant.spend if participant.spend != None else 0}}">
                <td>{{participant.name}}</td>
                <td>{{format_exchange(participant.spend if participant.spend != None else 0)}}</td>
                <td>
                {% if participant.has_agreed_to_terms or not current_user.require_terms%}
                    <form class="form-inline">
                        <div class="form-group">
                        {% for product in products %}
                            <button data-participant-id="{{participant.id}}" data-product-id="{{product.id}}" data-price="{{product.price}}" data-is-eligible="{{ is_eligible(participant.birthday,product.age_limit)|lower }}" data-type="purchase" class="btn btn-primary btn-sm">{{product.name}}</button>
                        {% endfor %}
                        {% if current_user.stacked_purchases %}
                            <div class="input-group input-group-sm spinner">
                                <div class="input-group-addon">&times;</div>
                                <input type="text" class="form-control" value="1" data-min="1">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default"><i class="fa fa-caret-up"></i></button>
                                    <button class="btn btn-default"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </form>
                {% else %}
                    <a href="{{url_for('accept_terms_participant', participant_id=participant.id)}}" class="btn btn-danger btn-sm">Accept the terms</a>
                {% endif %}
                </td><td>
                    <button data-participant-id="{{participant.id}}" data-type="history" class="btn btn-default btn-sm">Undo</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts%}
    <div class="block-screen">
        <div class="block-screen-wait"><img alt="Loading..." src="{{ url_for('static', filename='img/loading.gif') }}"></div>
    </div>
    {{ super() }}
{% endblock %}
