{% extends "base.html" %}

{% block body %}
    <div class="panel panel-primary bar-panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{ self.title() }}</h3>
        </div>
    {% if self.panel_content() %}
        <div class="panel-body">
            {% block panel_content %}{% endblock %}
        </div>
    {% endif %}
        {% block table %}{% endblock %}
        {% if self.footer() %}<div class="panel-footer">{% endif %}
            {% block footer %}{% endblock %}
        {% if self.footer() %}</div>{% endif %}
    </div>
{% endblock %}