{% extends "base.html" %}

{% macro render_errors(field, class='dialog') -%}
    {% if field.errors %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh dear!</strong> {{ error }}
        </div>
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% block body %}
    <div class="panel panel-primary bar-panel">
        <div class="panel-heading">
            <h3 class="panel-title">{{ self.title() }}</h3>
        </div>
        {% if self.content() %}<div class="panel-body">{% endif %}
            {% block content %}{% endblock %}
        {% if self.content() %}</div>{% endif %}
        {% block table %}{% endblock %}
        {% if self.footer() %}<div class="panel-footer">{% endif %}
            {% block footer %}{% endblock %}
        {% if self.footer() %}</div>{% endif %}
    </div>
{% endblock %}