{% extends "base.html" %}

{% block page_id %}list-participants{% endblock %}

{% block content %}
<div class="container-narrow content">
    <header class="content-header">
        <h1>{% block title %}Participants{% endblock %}</h1>
        <div class="content-controls">
            <div class="btn-group">
                <a type="button" class="btn btn-primary" href="{{url_for('add_participant')}}">Add participant</a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{url_for('add_participant')}}">Add participant</a></li>
                    <li><a href="{{url_for('import_participants')}}">Import participants</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{url_for('add_participant_birthday')}}">Birthday registration</a></li>
                </ul>
            </div>
        </div>
    </header>
    <table class="table table-hover table-bar">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr id="{{ participant.id }}" {% if activity %} class="registered" {% endif %}>
                <td>{{participant.name}}</td>
                <td>
                    <a href="{{ url_for('edit_participant', participant_id=participant.id) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
