{% extends "base.html" %}

{% block page_id %}user-birthday{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/typeaheadjs.css') }}">
{% endblock %}

{% block content %}
<div class="container-narrow">
	<h1>{% block title %}Add birthday{% endblock %}</h1>
	<form method="post" action="{{ url_for('add_participant_birthday') }}">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.name.label(class="control-label") }}
			{{ form.name(class="form-control typeahead", autocomplete="off",autofocus="true") }}
		</div>
		{{ render_errors(form.name) }}
		<div class="form-group">
			{{ form.birthday.label(class="control-label") }}
			{{ form.birthday(class="form-control", placeholder="dd-mm-yyyy") }}
		</div>
		{{ render_errors(form.birthday) }}
		<button type="submit" class="btn btn-primary">Submit</button><a href="{{url_for('list_participants')}}" class="btn btn-link">Back</a>
	</form>
</div>
{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
	<script>

		var participants = new Bloodhound({ 
			datumTokenizer: Bloodhound.tokenizers.whitespace, 
			queryTokenizer: Bloodhound.tokenizers.whitespace, 
			prefetch: {
                url: '{{url_for('list_participant_names')}}',
                cache: false
            }
		}); 

		$('#name.typeahead').typeahead({
			highlight: true
		}, { 
			name: 'participants', 
			source: participants 
		}); 
	</script>
{% endblock %}
