{% extends "base.html" %}

{% block page_id %}participant-history{% endblock %}

{% block content %}
<div class="container-narrow content">
    <header class="content-header">
        <h1>{% block title %}History of {{participant.name}}{% endblock %}</h1>
    </header>
    <ul class="nav nav-tabs">
        <li role="presentation" class="{{ 'active' if view == 'pos' }}"><a href="{{url_for('participant_history', participant_id=participant.id, view='pos')}}">Bar purchases</a></li>
        <li role="presentation" class="{{ 'active' if view != 'pos' }}"><a href="{{url_for('participant_history', participant_id=participant.id, view='auction')}}">Auction purchases</a></li>
    </ul>
    <table class="table table-hover table-bar">
        <thead>
            <tr>
                <th>Product</th>
            {% if view == 'auction' %}
                <th>Price</th>
            {% endif %}
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if view == 'pos' %}
            {% for (purchase, product, price) in purchases %}
            <tr id="{{ purchase.id }}">
                <td>{{product}}</td>
                <td>{{purchase.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td>
                    <a href="{{url_for('undo', purchase_id=purchase.id)}}" data-participant-id="{{participant.id}}" data-purchase-id="{{purchase.id}}" data-price="{{price}}" class="btn btn-default btn-sm {{ 'disabled' if purchase.undone}}" data-type="undo">Undo</a>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            {% for purchase in purchases %}
            <tr id="{{ purchase.id }}">
                <td>{{purchase.description}}</td>
                <td>{{format_price(purchase.price/100)}}</td>
                <td>{{purchase.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td>
                    <a href="{{url_for('undo', purchase_id=purchase.id)}}" data-participant-id="{{participant.id}}" data-purchase-id="{{purchase.id}}" data-price="{{purchase.price}}" class="btn btn-default btn-sm {{ 'disabled' if purchase.undone }}" data-type="undo">Undo</a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
