{% extends "base.html" %}

{% block page_id %}list-auction{% endblock %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/typeaheadjs.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>{% block title %}Auction{% endblock %}</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <table class="table table-hover table-bar">
            <thead>
                <tr>
                    <th class="col-sm-2">Name</th>
                    <th class="col-sm-1">Price</th>
                    <th class="col-sm-3">Product description</th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="{{ 'has-error' if form.participant.errors }}">
                        {{ form.participant.label(class="control-label sr-only") }}
                        {{ form.participant(class="form-control typeahead", autocomplete="off", placeholder=form.participant.label.text, autofocus="autofocus") }}
                    </td>
                    <td class="{{ 'has-error' if form.price.errors }}">
                        {{ form.price.label(class="control-label sr-only") }}
                        {{ form.price(class="form-control", placeholder=form.price.label.text) }}
                    </td>
                    <td class="{{ 'has-error' if form.description.errors }}">
                        {{ form.description.label(class="control-label sr-only") }}
                        {{ form.description(class="form-control", placeholder=form.description.label.text) }}
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
                {% for purchase in purchases %}
                <tr class="{{ 'danger' if purchase.undone }}">
                    <td>{{purchase.participant.name}}</td>
                    <td>{{format_price(purchase.price/100)}}</td>
                    <td>{{purchase.description}}</td>
                    <td>
                    {% if purchase.undone %}
                        <a href="{{url_for('auction.undo_auction_purchase', purchase_id=purchase.id, undo='False', next=request.url)}}" class="btn btn-default btn-sm">Redo</a>
                    {% else %}
                        <a href="{{url_for('auction.undo_auction_purchase', purchase_id=purchase.id, next=request.url)}}" class="btn btn-default btn-sm">Undo</a>
                    {% endif %}
                        <a href="{{ url_for('auction.edit_auction_purchase', purchase_id=purchase.id) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
    <script>
        var participants = new Bloodhound({ 
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'), 
            queryTokenizer: Bloodhound.tokenizers.whitespace, 
            identify: function(obj) { return obj.id; },
            prefetch: {
                url: '{{url_for('pos.list_participant_names')}}',
                cache: false
            }
        }); 

        $('#participant.typeahead').typeahead({
            highlight: true
        }, { 
            name: 'participants',
            display: 'name',
            source: participants 
        }); 
    </script>
{% endblock %}
