@charset "UTF-8"*/;

.panel {
	max-width: 500px;
	margin: 10px auto;
}

.header{
  background: #c60c30;
	position: relative;
	height: 64px;
  padding: 0 1em;
}

/*.header .brand{
}*/

.header img {
  position: relative;
  top: -5px;
  margin-right: 1em;
  height: 44px;
  vertical-align: middle;
}

.header h1{
  color: white;
  display: inline;
  line-height: 64px;
  font-size: 32px;
  margin: 0;
}

.header h1 a {
  text-decoration: inherit;
  color: inherit;
}

.header nav{
  position: relative;
  top: 16px;
  float: right;
  display: inline;
}

.header .btn{
	font-weight: bold;
	font-size: 18px;
  line-height: 30px;
	height: 32px;
	width: 32px;
	padding: 0;
}

.header .navicon-button{
  font-size: 12px;
	padding: 14px 9px;
}

.content{
	padding: 30px;
}

.form-search{
  max-width: 500px;
}

.table-users{
  margin-bottom: 0px;
}

.table-users tr td:first-child,
.table-users tr th:first-child{
	padding-left: 15px;
}

.table-users tr td:last-child,
.table-users tr th:last-child{
  padding-right: 15px;
}

.table-users tbody > tr > td{
	vertical-align: middle;
}

.table-users tbody > tr > td:last-child{
	text-align: right;
}

/* Navicon */
.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 0.9rem;
  transition: 0.125s;
  cursor: pointer;
  user-select: none;
}
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.125s;
}
.navicon-button:hover {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.125s;
}
.navicon-button:hover .navicon:before {
  top: .5em;
}
.navicon-button:hover .navicon:after {
  top: -.5em;
}

.navicon {
  position: relative;
  width: 1em;
  height: .1667em;
  background: #333;
  transition: 0.25s;
}
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: .1667em;
  width: 1em;
  background: #333;
  position: absolute;
  z-index: 1;
  transition: 0.25s 0.125s;
}
.navicon:before {
  top: .3333em;
}
.navicon:after {
  top: -.3333em;
}

.open>button:not(.steps) .navicon:before,
.open>button:not(.steps) .navicon:after {
  top: 0 !important;
}

.open>button .navicon:before,
.open>button .navicon:after {
  transition: 0.5s;
}

/* Minus */
.open>button>.navicon, .open>a:focus>.navicon {
  transform: scale(0.83333);
}
