.user-panel {
	max-width: 500px;
	margin: 10px auto;
}

body{
	padding: 30px;
}

.header{
	position: relative;
	height: 64px;
}

.header h1{
	position: absolute;
	margin: 0px;
	font-size: 32px;
}

.header .btn{
	position: absolute;
	right: 0;
	top: 4px;
}

.content{
	margin-top: 30px;
}

.table-users{
	margin-bottom: 0px;
}

.table-users tbody > tr > td{
	vertical-align: middle;
}

.table-users tbody > tr > td:last-child{
	text-align: right;
}