<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Streep{{ ' - 'if self.title() }}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/streep.css') }}">
{% endblock %}
</head>
<body>
    <div class="header">
    {% block header%}
        <img src="{{ url_for('static', filename='img/cover.png') }}">
        <h1><a href="{{ url_for('view_home') }}">Streep</a></h1>
        <nav class="dropdown btn-toolbar pull-right" role="toolbar">
            <button data-target="#" data-type="faq" class="btn btn-default">?</button>
            <button class="btn btn-default navicon-button" data-target="#" data-toggle="dropdown">
                <div class="navicon"></div>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class="dropdown-header">Users</li>
                <li><a href="{{ url_for('add_user') }}">Add User</a></li>
                <li><a href="{{ url_for('add_birthdays') }}">Add Birthdays</a></li>
                <li role="presentation" class="divider"></li>
                <li class="dropdown-header">Admin</li>
                <li><a href="{{ url_for('view_products') }}">Products</a></li>
            </ul>
        </nav>
    {% endblock %}
    </div>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
{% block scripts%}
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
