<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>BAR{{ ' – 'if self.title() }}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
{% endblock %}
</head>
<body id="{% block page_id %}{% endblock %}">
    <div class="header">
    {% block header%}
        <img src="{{ url_for('static', filename='img/cover.png') }}">
        <h1><a href="{{ url_for('view_home') }}">BAR: {{ current_user.name }}</a></h1>
        <nav class="dropdown btn-toolbar pull-right" role="toolbar">
            <button data-target="#" data-type="faq" class="btn btn-default">?</button>
            <button class="btn btn-default navicon-button" data-target="#" data-toggle="dropdown">
                <div class="navicon"></div>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="{{ url_for('view_home') }}">Home</a></li>
                <li class="divider"></li>
                <!-- <li class="dropdown-header">Admin</li> -->
                <li><a href="{{ url_for('list_products') }}">Products</a></li>
                <li><a href="{{ url_for('list_participants') }}">Participants</a></li>
                <li><a href="{{ url_for('activity_settings') }}">Settings</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">Log out</a></li>
            </ul>
        </nav>
    {% endblock %}
    </div>
    <div class="content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismissible alert-flash" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>
{% block scripts%}
    <div class="modal fade" id="streepModal" tabindex="-1" role="dialog" aria-labelledby="streepModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="streepModalLabel"></h4>
          </div>
          <div class="modal-body"></div>
          <div class="modal-table"></div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/streep.js') }}"></script>
{% endblock %}
</body>
</html>
