<!DOCTYPE html>
<html lang="nl">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Streep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/streep.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>
<body>
    <div class="header">
        <h1>Streep: TelRaam Edoch Essentieel Programmeerwerkje</h1>
        <a href="{{ url_for('add_user') }}" class="btn btn-default">Add User</a>
    </div>
    <div class="content">
        <table class="table table-hover table-users">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Spend amount</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for (user, spend) in users %}
                <tr id="{{ user.id }}" data-spend-amount="{{spend if spend != None else 0}}">
                    <td>{{user.name}}</td>
                    <td>{{format_price((spend if spend != None else 0)/100)}}</td>
                    <td>
                        {% for product in products %}
                            <button data-user-id="{{user.id}}" data-product-id="{{product.id}}" data-price="{{product.price}}" class="btn btn-primary btn-sm">{{product.name}}</button>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ url_for('history', user_id=user.id) }}" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-time"></span></a><a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn btn-link btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        var current = {};
        var purchases = new Array();
        var timer;

        $('.table-users tr').each(function() {
            current[this.id] = parseInt($(this).data('spend-amount'));
        });

        $('.table-users button').click(function(evt){
            evt.preventDefault();
            // Get me some data
            var field = $(this).closest('tr').find('td').get(1);
            var user_id = $(this).data('user-id');
            var product_id = $(this).data('product-id');
            var product_price = $(this).data('price');

            // Update the users delta and current amount of x-es
            purchases.push({user: user_id, product: product_id, price: product_price});
            $(field).text("€ "+((current[user_id] + product_price)/100).toFixed(2));

            // If there is a sync-request queued for this user, delete it.
            if (timer)
                clearTimeout(timer);

            // Queue a sync-request for this user
            timer = setTimeout(create_sync_task(), 1000);
        });

        function create_sync_task() {
            return function() {
                // Run the request
                // var user_purchases = purchases[user_id];
                var url = '/purchase'
                $.ajax({
                    url: url,
                    type: "POST",
                    data: JSON.stringify(purchases),
                    contentType: "application/json",
                    timeout: 3000
                }).fail(function(response){
                    // purchases[user_id] = (purchases[user_id] || 0) + user_purchases;
                    // current[user_id] -= user_purchases;
                    alert('Something went wrong? See the console, or ask Jelmer or Martijn');
                });
                // $.post(url, JSON.stringify(purchases), {timeout: 3000})

                console.log('Submitted', purchases, 'to', url);

                // commit locally
                // current[user_id] += purchases[user_id];
                purchases = new Array();
                clearTimeout(timer);
            }
        };

    </script>
</body>
</html>
