{% extends "page_layout.html" %}
{% block title %}History of {{user.name}}{% endblock %}
{% block table %}
    <table class="table table-hover table-users">
        <thead>
            <tr>
                <th>Product</th>
                <th>Timestamp</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for (purchase, product, price) in purchases %}
            <tr id="{{ purchase.id }}">
                <td>{{product}}</td>
                <td>{{purchase.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td>
                    <a href="{{url_for('undo', purchase_id=purchase.id)}}" data-user-id="{{user.id}}" data-purchase-id="{{purchase.id}}" data-price="{{price}}" class="btn btn-default btn-sm" {{ 'disabled="disabled"' if purchase.undone}} data-type="undo">Undo</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}
    <a href="{{url_for('view_home')}}" class="btn btn-primary">Back</a>
{% endblock %}