{% extends "base.html" %}

{% block page_id %}activity-settings{% endblock %}
{% block title %}Export and settings{% endblock %}

{% block content %}
<div class="container-narrow">
	<h1>Export</h1>
	<p>Export all purchases to an <a href="https://incasso.svcover.nl" target="_blank">Incass-o-matic</a> compliant CSV-file.</p>
	<p><a href="{{url_for('pos.activity_export_form')}}" class="btn btn-default">Export</a></p>
	<hr>
	<h1>Settings</h1>
	<form method="post">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.age_limit.label(class="control-label") }}
			{{ form.age_limit(class="form-control") }}
		</div>
		{{ render_errors(form.age_limit) }}
		<div class="checkbox">
			<label>
				{{ form.stacked_purchases }} {{ form.stacked_purchases.label.text }}
			</label>
		</div>
		{{ render_errors(form.stacked_purchases) }}
		<div class="checkbox">
			<label>
				{{ form.require_terms }} {{ form.require_terms.label.text }}
			</label>
		</div>
		{{ render_errors(form.require_terms) }}
		<div class="form-group" id="option-terms">
			{{ form.terms.label(class="control-label") }}
			{{ form.terms(class="form-control", placeholder="Use markdown to format your terms.") }}
			<span class="help-block">
				You may include the following tags in you terms: [activity], [price-list], [participant-details]
			</span>
		</div>
		{{ render_errors(form.terms) }}
		<div class="form-group" id="option-terms">
			{{ form.faq.label(class="control-label") }}
			{{ form.faq(class="form-control", placeholder="Use markdown to format your FAQ") }}
		</div>
		{{ render_errors(form.faq) }}
		<button type="submit" class="btn btn-primary">Submit settings</button>
	</form>
</div>
{% endblock %}
