{% extends "base.html" %}

{% block page_id %}list-participants{% endblock %}

{% block content %}
<div class="container-narrow content">
    <header class="content-header">
        <h1>{% block title %}Participants{% endblock %}</h1>
        <div class="content-controls">
            <a type="button" class="btn btn-default" href="{{url_for('pos.import_participants')}}">Import</a>
            <a type="button" class="btn btn-primary" href="{{url_for('pos.add_participant')}}">Add participant</a>
        </div>
    </header>
    <table class="table table-hover table-bar">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr id="{{ participant.id }}" {% if activity %} class="registered" {% endif %}>
                <td>{{participant.name}}</td>
                <td>
                    <a href="{{ url_for('pos.edit_participant', participant_id=participant.id) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
