{% extends "base.html" %}

{% block page_id %}product-add{% endblock %}

{% block content %}
<div class="container-narrow">
	<h1>{% block title %}{{mode|title}} product{% endblock %}</h1>
	<form method="post" action="{{ url_for('pos.add_product') if mode == 'add' else url_for('pos.edit_product', product_id=id) }}">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.name.label(class="control-label") }}
			{{ form.name(class="form-control") }}
		</div>
		{{ render_errors(form.name) }}
		<div class="form-group">
			{{ form.price.label(class="control-label") }}
			{{ form.price(class="form-control") }}
		</div>
		{{ render_errors(form.price) }}
		<div class="form-group">
			{{ form.priority.label(class="control-label") }}
			{{ form.priority(class="form-control") }}
		</div>
		{{ render_errors(form.priority) }}
		<div class="checkbox">
			<label>
				{{ form.age_limit }} {{ form.age_limit.label.text }}
			</label>
		</div>
		{{ render_errors(form.age_limit) }}
		<button type="submit" class="btn btn-primary">Submit</button>
		<a href="{{url_for('pos.list_products')}}" class="btn btn-link">Cancel</a>
	</form>
</div>
{% endblock %}
