{% extends "admin/base.html" %}

{% block content %}
<div class="container-narrow content">
    <header class="content-header">
        <h1>{% block title %}Activities{% endblock %}</h1>
        <div class="content-controls">
            <a href="{{url_for('admin.add_activity')}}" class="btn btn-primary">Add activity</a>
        </div>
    </header>
    <table class="table table-hover table-bar">
        <thead>
            <tr>
                <th>Name</th>
                <th>Passcode</th>
                <th>Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
            <tr id="{{ activity.id }}">
                <td>{{activity.name}}</td>
                <td>{{activity.passcode}}</td>
                <td>
                	{% if activity.active %}
                		<a href="{{ url_for('admin.activate_activity', activity_id=activity.id, activate='False')}}"><span class="glyphicon glyphicon-ok"></span></a>
                	{% else %}
                		<a href="{{ url_for('admin.activate_activity', activity_id=activity.id)}}"><span class="glyphicon glyphicon-remove"></span></a>
                	{% endif %}
                </td>
                <td>
                    <a href="{{ url_for('admin.impersonate_activity', activity_id=activity.id)}}" class="btn btn-default btn-sm" target="_blank"><span class="glyphicon glyphicon-user"></span></a>
                    <a href="{{ url_for('admin.edit_activity', activity_id=activity.id)}}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

